@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e9b6ef;
}

.header {
  font-size: 2.4rem;
  color: #580c96;
}

article {
  max-width: 800px;
  padding: 30px;
  margin-top: 20px;
  background-color: rgb(249, 235, 235);
  text-align: center;
}

.postitle {
  font-size: 2.2rem;
}

img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 1.2rem;
  font-weight: 600;
}

.par2 {
  margin-bottom: 40px;
}
.img2 {
  border: 2px solid rgb(184, 37, 201);
}

#par3 {
  margin-top: 40px;
}
span {
  text-decoration: underline;
  color: blueviolet;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  article {
    padding: 20px;
    margin-top: 10px;
  }

  .postitle {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }
}
