/* Adjecent sibling combinator (h1 + p) this combination target p element right after h1 */
h1 + p {
  font-weight: bold;
  background-color: rgb(59, 49, 49);
  color: #fff;
  padding: 0.5em;
}

/* General sibling combinator: targeting all p element under h1 tag. Higher priority than adjacent sibling combinator*/
h1 ~ p {
  font-weight: bold;
  background-color: rgb(163, 105, 105);
  color: #fff;
  padding: 0.5em;
}

/* Decendant combinator */
.box p {
  color: red;
}

/* Child combinator */
ul > li {
  border-top: 5px solid red;
}
